#navbar {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:  #3D3D3D;
}
  
#navbar li {
  list-style: none;
  display: inline-block;
  padding: 0px 40px;
  font-size: 20px;
  color:white;
  transform: translateY(30%);
}

#navbar li:hover {
  background-color: white;
  color:#3D3D3D;
}

#navbar li:active {
  background-color: lightgray;
}

div.nav-details > * {
  display: inline-block;
  color: royalblue;
  font-size: 20px;
}

img {
  height: 40px;
  margin: auto 40px;
  transform: translateY(20%);
}